*{
  margin:none;
  padding:none;
  text-align:center;
}

input {
  width:50%;
  margin-top:1em;
  padding: .25em 0 .25em 0;
  text-align: left;
  font-size: 16pt;
  border-radius:6px;

}

::placeholder{
  padding-left:10px;
}

.fancybox-caption-wrap{
  display:flex;
  margin: 0 auto;
}

.fancybox-caption{
  flex:1;
  max-width: 600px;
  padding:25px 0;
  margin:0 auto;
  background:none;
}
